<div class="parallax">
	<div class="parallax-group">
		<div class="layer1">
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6" id="firsttxt">
					<div class="col-md-10">
						<br/><br/><br/><br/>
						If you’re not being fucking honest with yourself how could you ever hope to communicate something meaningful to someone else? To go partway is easy, but mastering anything requires hard fucking work. Design as if your fucking life depended on it. Don’t worry about what other people fucking think. Respect your fucking craft. If you fucking give up, you will achieve nothing. To surpass others is fucking tough, if you only do as you are told you don’t have it in you to succeed. Think about all the fucking possibilities. The graphic designer’s first fucking consideration is always the size and shape of the format, whether for the printed page or for digital display. To surpass others is fucking tough.
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>			
		</div>
		<div class="layer2">
			<div class="row">
				<div class="col-md-6" id="secondtxt">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<br/><br/><br/>
						Dedicate yourself to lifelong fucking learning. Saul Bass on failure: Failure is built into creativity… the creative act involves this element of ‘newness’ and ‘experimentalism,’ then one must expect and accept the fucking possibility of failure. Must-do is a good fucking master. Why are you fucking reading all of this? Get back to work. Don’t fucking lie to yourself. Someday is not a fucking day of the week. You need to sit down and sketch more fucking ideas because stalking your ex on facebook isn’t going to get you anywhere. The details are not the details. They make the fucking design. Intuition is fucking important. Make your work consistent but not fucking predictable. Use your fucking hands. Creativity is a fucking work-ethic. Fuck. This design is fucking brilliant. When you design, you have to draw on your own fucking life experiences.
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>