<section id="first">
<div class="container">
<div class="row">
	<div class="col-md-3">
		Remember it’s called the creative process, it’s not the creative fucking moment. Form follows fucking function. Learn from fucking criticism. Don’t fucking lie to yourself. You are not your fucking work. The graphic designer’s first fucking consideration is always the size and shape of the format, whether for the printed page or for digital display. Saul Bass on failure: Failure is built into creativity… the creative act involves this element of ‘newness’ and ‘experimentalism,’ then one must expect and accept 
	</div>
</div>
</div>
</section>

<section id="second">
<div class="container">
<div class="row">
	<div class="col-md-2">
		Remember it’s called the creative process, it’s not the creative fucking moment. Form follows fucking function. Learn from fucking criticism. Don’t fucking lie to yourself. You are not your fucking work. The graphic designer’s first fucking consideration is always the size and shape of the format, whether for the printed page or for digital display. Saul Bass on failure: Failure is built into creativity… the creative act involves this element of ‘newness’ and ‘experimentalism,’ then one must expect and accept 
	</div>
</div>
</div>
</section>