<div class="parallax">
	<div class="parallax-group">
		<div class="layer0">
		</div>
		<div class="layer1">
			<section id="head">
				<div class="col-md-6" id="secondtxt">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<br/><br/><br/>
						Dedicate yourself to lifelong fucking learning. Saul Bass on failure: Failure is built into creativity… the creative act involves this element of ‘newness’ and ‘experimentalism,’ then one must expect and accept the fucking possibility of failure. Must-do is a good fucking master. Why are you fucking reading all of this? Get back to work. Don’t fucking lie to yourself. Someday is not a fucking day of the week. You need to sit down and sketch more fucking ideas because stalking your ex on facebook isn’t going to get you anywhere. The details are not the details. They make the fucking design. Intuition is fucking important. Make your work consistent but not fucking predictable. Use your fucking hands. Creativity is a fucking work-ethic. Fuck. This design is fucking brilliant. When you design, you have to draw on your own fucking life experiences.
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="parallax-group">
		<div class="layer1_1">
		</div>
	</div>
</div>