.parallax {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
	box-shadow: 0 0 0 2px #000;
}

.layer { /*WTF
/*	position: fixed;
	width: 100%;
	z-index: 100;
	min-height: 400px;
	background-position: top center;
	background-repeat: no-repeat;*/
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}

.parallax-group {
	position: relative;
	height: 60vh;
	transform-style: preserve-3d;
	/*transform: translate3d(100px,50px,0) rotateY(0.05deg) scaleX(0.6); /* Sexy DEBUG */
}

.layer0 {
	margin-top: 0px;
	height: 100vh;
	background-image: url(../assets/images/map.png);
	background-position: center;
	transform: translateZ(-4px) scale(5.05);

}

.layer1 {
    transform: translateZ(0) scale(1);
	position: absolute;
    top: 0;
    min-height: 350px;
	background-image: url(../assets/images/bkgrnd.png);
	background-position: center;
	background-repeat: no-repeat;	
    /*transform: translateZ(-2px) scale(3);*/
}
/*Scale factor: 1 + (translateZ * -1) / perspective */

.layer1_1 {
    transform: translateZ(0) scale(1);
    min-height: 350px;
	background-image: url(../assets/images/bkgrnd2.png);
	background-position: center;
	background-repeat: no-repeat;	
}

.col-md-10 {
	-webkit-transform: rotateZ(-10deg); /* Chrome, Safari, Opera */
	-moz-transform: rotateZ(-10deg); /* Firefox */
    transform: rotateZ(-10deg);
}