@media screen and (max-width: 481px) {
	#video_player_container {
		width: 100%;
		margin-bottom: 50px;
		display: table;
		margin-top: 80px;
	}

	.video_player {
		position: fixed;
		left: 0;
		top: 70px;
		width: 100%;
		height: 200px;
		display: block;
	}

	iframe {
		width: 100%;
	    height: 200px;
	    position: absolute;
	    float: left;
	}

	.video_player_info {
		max-width: 800px;
		width: 100%;
		display: table;
	    margin: 0 auto;
	    margin-top: 200px;
	}

	.video_text {
		width: 80%;
		float: left;
		height: 100%;
		display: table;
	    color: #FFFFFF;
	}

	.video_rating {
		margin-left: 80%;
		width: 20%;
	    color: #FFFFFF;
	}

	.video_text h2 {
	    margin: 0;
	    font: bold 20px "Roboto";
	}

	.video_text h4 {
	    margin: 0;
	    font: 14px "Roboto";
	}

	.video_text h5 {
	    margin: 0;
	    font: 8px "Roboto";
	}

	.video_rating h3 {
	    margin: 0;
	    font: bold 16px "Roboto";
	    text-align: center;
	}

	.video_rating input {
		margin: 0 auto;
		display: block;
	    font: bold 22px "Roboto";
		color: #00B26F;
	    background-color: Transparent;
	    border: none;
	    cursor:pointer;
	    outline:none;
	}

	#comments {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 50px;
	    margin: 0 auto;
	    display: table;
	    color: #FFFFFF;
	}

	#comments h1 {
		margin: 0;
	    font: bold 22px "Roboto";
	    margin-bottom: 10px;
	}

	#comments h3 {
		font: bold 16px "Roboto";
		margin: 0;
		padding: 0;
	}

	.comment {
		width: 100%;
		float: left;
		display: table;
		min-height: 70px;
	}

	.comment .usr_img {
		width: 70px;
		height: 70px;
		float: left;
		padding-right: 0px;
		display: table-cell;
	}

	.comment .usr_img img {
		width: 50px;
		border-radius: 25px;
	}

	.comment .usr_img figure {
		margin: 0;
	}

	.comment .usr_text {
		width: 60%;
		float: left;
		margin: 0;
		display: table-cell;
	}

	.comment .usr_text span {
		font: 12px "Roboto";
		word-break: break-all;
		margin: 0;
	}

	.new_comment {
		width: 100%;
		height: 100px;
		margin-bottom: 10px;
	}

	.new_comment textarea {
		height: 50px;
		width: 70%;
		vertical-align: middle;
		font: 12px "Roboto";
		border-radius: 10px;
		resize: none;
	}

	.comment_bttn {
		border-radius: 10px;
		vertical-align: middle;
		border: 3px solid #FFFFFF;
		height: 30px;
		width: 80px;
		font: 14px "Roboto";
		background-color: #00B26F;
		color: #FFFFFF;
	}

	.comment_bttn:hover {
		background-color: #FFFFFF;
		color: #00B26F;
	}
}

@media screen and (min-width: 480px) {
	#video_player_container {
		display: table;
		width: 100%;
		margin-bottom: 50px;
		margin-top: 50px;
	}

	.video_player {
		display: block;
		position: relative;
		width: 100%;
		max-width: 800px;
		height: auto;
		min-height: 400px;
		padding-bottom: 10px;
	    margin: 0 auto;
	}

	iframe {
		width: 100%;
	    height: 100%;
	    position: absolute;
	    float: left;
	}

	.video_player_info {
		max-width: 800px;
		width: 100%;
		height: 200px;
		display: table;
	    margin: 0 auto;
	}

	.video_text {
		width: 80%;
		float: left;
		height: 100%;
		display: table;
	    color: #FFFFFF;
	}

	.video_rating {
		margin-left: 80%;
		width: 20%;
	    color: #FFFFFF;
	}

	.video_text h2 {
	    margin: 0;
	    font: bold 40px "Roboto";
	}

	.video_text h4 {
	    margin: 0;
	    font: 22px "Roboto";
	}

	.video_text h5 {
	    margin: 0;
	    font: 12px "Roboto";
	}

	.video_rating h3 {
	    margin: 0;
	    font: bold 22px "Roboto";
	    text-align: center;
	}

	.video_rating input {
		margin: 0 auto;
		display: block;
	    font: bold 22px "Roboto";
		color: #00B26F;
	    background-color: Transparent;
	    border: none;
	    cursor:pointer;
	    outline:none;
	}

	#comments {
		max-width: 800px;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	    margin: 0 auto;
	    display: table;
	    color: #FFFFFF;
	}

	#comments h1 {
		margin: 0;
	    font: bold 28px "Roboto";
	    margin-bottom: 10px;
	}

	#comments h3 {
		font: bold 18px "Roboto";
		margin: 0;
		padding: 0;
	}

	.comment {
		width: 100%;
		float: left;
		display: table-row;
	}

	.comment .usr_img {
		width: 70px;
		height: 70px;
		float: left;
		padding-right: 0px;
		display: table-cell;
	}

	.comment .usr_img img {
		width: 50px;
		border-radius: 25px;
	}

	.comment .usr_img figure {
		margin: 0;
	}

	.comment .usr_text {
		float: left;
		display: table-cell;
		width: 80%;
	}

	.comment .usr_text span {
		font: 16px "Roboto";
		word-break: break-all;
	}

	.new_comment {
		width: 100%;
		height: 100px;
		margin-bottom: 10px;
	}

	.new_comment textarea {
		height: 50px;
		width: 70%;
		vertical-align: middle;
		font: 14px "Roboto";
		border-radius: 10px;
		resize: none;
	}

	.comment_bttn {
		border-radius: 10px;
		vertical-align: middle;
		border: 3px solid #FFFFFF;
		height: 40px;
		width: 100px;
		font: 18px "Roboto";
		background-color: #00B26F;
		color: #FFFFFF;
	}

	.comment_bttn:hover {
		background-color: #FFFFFF;
		color: #00B26F;
	}
}